﻿
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, img, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, hgroup, menu, nav, summary, time, mark, audio, video, header, footer
{
}
h3
{
	font-weight: bold;
}
html
{
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body
{
	font-size: 16px;
	font-size: 1.6rem;
	color: #747f8c;
	font-family: "Open Sans" ,Arial, "Hiragino Sans GB" , "Microsoft YaHei" , "微软雅黑" , "STHeiti" , "WenQuanYi Micro Hei" ,SimSun,sans-serif;
}
.article
{
	color: #333332;
	font-size: 18px;
	font-size: 1.6rem;
	line-height: 1.8;
	font-weight: 400;
}
html
{
	font-size: 65%;
	-webkit-font-smoothing: antialiased;
}
::selection
{
	background-color: #38485a;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}

